body {
    
}

.navbar-default {
    padding-top:0px;
    margin-bottom:0px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html,body {
    height:100%;
}

.container {
    display:table;
    max-width:none;
    width: 100%;
    margin-top: -50px;
    margin-left:0px;
    margin-right:0px;
    padding: 0 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
    height:100%;
}

header {
    background: green;
    height: 50px;
}

.row {
    height: 100%;
    display: table-row;
}

#Siderbar {   
    background: #0094ff;
    height:100%;
}

#SideMenu {
    margin-top:10px;
}

#MainContent {
    /*background: green;*/  
    height:100%;	
}

.row .no-float {
  display: table-cell;
  float: none;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}